$colLightBilberry: #98dae7;
$colSemilightBilberry: #92b4e3;
$colBilberry: #7598c8;
$colBlue: #166df6;
$colDarkBilberry: #2d5aa1;
$colDarkerBilberry: #2a416f;
$colDarkestBilberry: #1f3050;
$colWhite: #fafafa;
