@import 'fonts';
@import 'variables';
@import 'bootstrap-grid.css';
@import 'vendor/aos.css';
@import 'fa.min.css';

$navigationHeight: 60px;
$mobileNavBreakpoint: 765px;

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.body-wrapper {
  width:100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $colWhite;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inflex-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.no-width{
  width: 0px;
  display: none;
  @media (min-width: $mobileNavBreakpoint) {
    display: block;
  }
}

.header-wrapper {
  height: 100vh;
  background:
          //0% 141% / 100% no-repeat url('../images/leaf.svg'),
          linear-gradient(rgba(0,0,0, .25), rgba(0,0,0, .6 )),
          center / cover no-repeat url('../images/smaller/background.jpg');

  @media (min-width: 1025px) {
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  &:after {
    content: '';
    position:fixed; /* stretch a fixed position to the whole screen */
    top:0;
    height:100vh; /* fix for mobile browser address bar appearing disappearing */
    left:0;
    right:0;
    z-index:-1; /* needed to keep in the background */
    background: url('../images/smaller/background.jpg') center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

// header.pug
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 6%;
  //height: $navigationHeight;
  color: #fff;
  position: fixed;
  z-index:100;
  width: 100%;
  transition: .7s;

  &.special {
    background: rgba(0, 0, 0, .91);
    -webkit-box-shadow: 0px 10px 26px -4px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 10px 26px -4px rgba(0,0,0,0.47);
    box-shadow: 0px 10px 26px -4px rgba(0,0,0,0.47);
  }
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// responsive-menu.pug
.hamburger{
  font-size: 1.2em;
  @media (min-width: $mobileNavBreakpoint) {
    display: none;
  }
}

// logo.pug
.logo__link {
  opacity: 0;
  transform: translateY(-120%);
  transition: .7s;

  &.visible {
    opacity: 1;
    transform: none;
  }
}

.logo__image {
  width: 48px;
  margin-right: 5px;
}

.logo__text {
  font-size: 1.45em;
}

// header-caption.pug
.header-caption__wrapper {
  color: $colWhite;
  text-align: center;
  height: 100%;
}

.header-caption__logo{
  width: 60%;
}

.header-caption {
  //margin-top: -#{$navigationHeight};
}

.header-caption__big {
  font-size: 3em;

  @media (min-width: 765px) {
    font-size: 4em;
  }
}

.header-caption__small {
  font-size: 1.1em;
  @media (min-width: 765px) {
    font-size: 1.3em;
  }
}

// buttons
.btn {
  background: red;
  display: inline-block;
  padding: 7px 15px;
  border-radius: 4px;
  font-size: 1.2em;
  cursor: pointer;
  transition: .6s;
  @media (min-width: 1000px) {
    font-size: 1.45em;
    padding: 9px 20px;
  }
 // text-transform: uppercase;
}

.button-wrapper {
  margin-top: 10px;
}

.btn-primary {
  background: $colBlue;
  border: 2px solid $colBlue;

  &:hover {
    background: #0853f6;
    border: 2px solid #0853f6;
  }
}

.btn-secondary {
  background: transparent;
  border: 2px solid $colWhite;
  margin-right: 8px;
  font-weight: bold;

  &:hover {
    background: $colWhite;
    color: #000;
  }
}

@for $i from 1 through 10 {
  .my-#{$i} {
    margin-top: #{$i}px;
  }
}

// section

@mixin sectionPadding(){
  padding: 50px 10px;
}

@mixin upperShadow() {
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.9);
}

.section {
  @include sectionPadding();
}



.section-header--special {
  padding: 10px 20px;
  text-align: center;
}

.section-header {
  font-size: 2.7em;
  text-align: center;
  color: $colDarkestBilberry;
}

.section--light-bliberry{
  background: #fff;
  color: $colDarkestBilberry;
  @include upperShadow;
}

.section-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

.section-subheader{
  text-align: center;

}

.section-part {
  padding: 10px 20px;
  margin-top: 40px;
  text-align: center;

  @media (min-width: 768px) {
    width: 50%;

    &.section-part--wider {
      width: 100%;
    }
  }

  @media (min-width: 992px) {
    width: calc(100% / 3);
    &.section-part--wider {
      width: calc(100% / 3);
    }
  }
}

.section-part__icon {
  font-size: 6em;
  color: $colBlue;
}

.section-part__header {
  font-size: 1.7em;
  padding-top: 20px;
}

.section-part__text {
  padding: 7px 0;
  line-height: 1.5em;
  font-size: .82em;
}

// offer.pug
.offer {
  @include sectionPadding();
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  background: rgb(236, 235, 237);

  .section-header {
    color: $colDarkestBilberry;
  }
  .section-subheader {
    color: #111;
    padding: 0 30px;
  }
}

.fruits {
  margin-top: 35px;
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.fruit {
  width: 100%;
  margin: 0 auto;
  height: 160px;
  overflow: hidden;
  position: relative;

  @media (min-width: 500px) and (max-width: 767px) {
    height: 210px;
  }

  @media (min-width: 768px) {
    width: 50%;
    margin: 0;
  }

  @media (min-width: 992px) {
    width: calc(100% / 3);
    height: 220px;
  }

  @media (min-width: 1400px) {
    width: calc(100% / 3);
    height: 300px;
  }

  &:hover {
    cursor: pointer;
    .fruit__name{
      height: 100%;
      padding-bottom: 0;
      transform:translateY(0%);
    }
  }
}

.fruit__image {
  width: 100%;
  position: absolute;
}

.fruit__name {
  position: absolute;
  bottom: 0px;
  left: 0; right: 0; margin: 0 auto;
  font-size: 1.6em;
  text-align: center;
  color: $colWhite;
  font-weight: bold;
  height: 80px;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.6), rgba(0,0,0,.9));
  transition: .7s;
  display:flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 6px;

  @media (min-width: 992px){
    transform:translateY(100%);
  }
}

.certifications {
  @include sectionPadding();

  background: #fff;

  .section-header {
    color: $colDarkestBilberry;
  }
}

.cert__wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.certs {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  padding-top: 10px;
}

.cert {
  //width: 40%;
  //margin: 20px 5%;
  padding: 40px;
  border-radius: 15px;
  background: #fff;
  position: relative;
  overflow:hidden;
  @include upperShadow;

  @media (min-width: 765px) {
    //margin: 20px calc(7% / 2);
   // width: 18%;
  }

  @media (min-width: 992px) {
    //margin: 20px 5%;
    //width: auto;
  }

  &:hover{
    .cert__name {
      transform:translateY(-40%);
    }
  }
}

.cert__name{
  position: absolute;
  font-size: 20px;
  bottom: 0;
  left: 0; right: 0;
  margin-left: auto; margin-right: auto;
  transition: .7s;
  transform:translateY(100%);
  cursor: pointer;
}

.cert__img-wrapper {
  overflow:hidden;
  text-align: center;
}

.cert__img {
  //max-width: 90%;
  //max-height: 100%;
  width: 70%;

  @media (min-width: 450px){
    width: 60%;
  }

}

.black {
  color: #000;
}

// langPicker
//.langPicker {
//  width: 60px;
//  height: 33.75px;
//  background: #fff;
//  cursor: pointer;
//  box-sizing: content-box;
//  border: 2px solid rgba(0, 0, 0, 1);
//  margin-right: 15px;
//}
//
//.lang-option{
//  height: 100%;
//  width: 100%;
//
//
//  &.pl {
//    background-image: url('../images/flags/pl.svg');
//  }
//  &.en {
//    background-image: url('../images/flags/en.svg');
//  }
//  &.ar {
//    background-image: url('../images/flags/sa.svg');
//  }
//
//  background-size: cover;
//}
//
//.picker {
//  .langPicker {
//    margin-bottom: 30px;
//    width: 118px;
//    height: 67.5px;
//  }
//}

.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,.5);
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close{
  font-size: 3em;
  position: absolute;
  left: 50%;
  transform:translateX(-50%);
  top: 20px;
}


// VUE TRANSITION
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

// Nav
.mobile-nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(0,0,0, .7);
  padding: 10px 20px;
  padding-right: 40px;
  transform: translateY(-100%);
  transition: .6s;

  &.visible {
    transform: translateY(0%);
  }

  @media (min-width: $mobileNavBreakpoint) {
    display: none;
  }
}

.modal-close--menu{
  left: auto;
  right: 6%;
  transform: none;
  font-size: 2em;
}

.mobile-ul, .desktop-ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-link {
  display: inline-block;
  width:100%;
  height:100%;
  padding: 12px 0;
}

.desktop-menu {
  display: none;
  @media (min-width: $mobileNavBreakpoint) {
    display: block;
    padding-right: 20px;
  }
}

.desktop-ul {
  display: flex;
}

.desktop-li {
  padding: 0 10px;

  @media (min-width: 992px) {
    padding: 0 15px;
  }
}

.desktop-link {
  padding: 10px;
}


//vendor

/* Ripple Out */
@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
.hvr-ripple-out {

  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-ripple-out:before {
  content: '';
  position: absolute;
  border: $colBlue solid 6px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

hr.fancy-line {
  border: 0;
  height: 1px;
  position: relative;
  margin: 0.5em 0; /* Keep other elements away from pseudo elements*/
}
hr.fancy-line:before {
  top: -0.5em;
  height: 1em;
}
hr.fancy-line:after {
  content:'';
  height: 0.5em;   /* half the height of :before */
  top: 1px;        /* height of hr*/
}

hr.fancy-line:before, hr.fancy-line:after {
  content: '';
  position: absolute;
  width: 100%;
}

hr.fancy-line, hr.fancy-line:before {
  background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);
  background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%,rgba(0,0,0,0.1)), color-stop(75%,rgba(0,0,0,0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
  background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
  background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}


// contact

.contact{
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.6)), url('../images/smaller/contact.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  @include sectionPadding;
  padding-bottom: 70px;

  .section-header {
    color: #fff;
  }
}

.contact-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap;
  padding: 50px 0;
}

.cafle {
  padding: 40px;
  display: block;
  width: calc(100%);
  //background: rgba(0, 0, 0, .7);
  margin: 10px 20px;
  text-align: center;
  position: relative;
  z-index:2;

  @media (min-width: 765px) {
    width: calc(100% / 3);
  }

  &:before {
    content: '';
    position: absolute;
    width:160px;
    height:160px;
    background: $colBlue;
    transform: rotate(45deg);
    z-index: -1;
    top:0;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    border-top-right-radius: 40%;

    @media (min-width: 1200px) {
      width:220px;
      height:220px;
    }
  }
  &:after {
    content: '';
    position: absolute;
    width:150px;
    height:150px;
    @media (min-width: 1200px) {
      width:200px;
      height:200px;
    }
    background: $colDarkBilberry;
    transform: rotate(22.5deg);
    z-index: -1;
    top:0;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    opacity: .7;
  }
}

.cafle__title {
  font-size: 1.6em;
}

.cafle__value {
  letter-spacing: 1px;

  &.smaller {
    font-size: .85em;
  }

  &.special {
   // background: rgba(0,0,0,.6);
    display: inline-block;
    padding: 5px 8px;
  }
}

.footer {
  background: #1657af;
  text-align: center;
  padding: 4px 0;
}

.footer__text {
  color: #eee;
}

.footer__link {
  font-weight: bold;
}

.footer__link, .footer__text {
  font-size: .8em;
}