section.section.section--light-bliberry
    h3.section-header O firmie
    div.section-content
        div.section-part
            i.section-part__icon.fab.fa-500px
            h4.section-part__header Jakość
            div.section-part__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec condimentum commodo ipsum vitae cursus. Morbi in elit id eros pellentesque rutrum. Orci varius natoque penatibus et magnis dis parturient montes.
        div.section-part
            i.section-part__icon.fab.fa-500px
            h4.section-part__header Jakość
            div.section-part__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec condimentum commodo ipsum vitae cursus. Morbi in elit id eros pellentesque rutrum. Orci varius natoque penatibus et magnis dis parturient montes.
        div.section-part
            i.section-part__icon.fab.fa-500px
            h4.section-part__header Jakość
            div.section-part__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec condimentum commodo ipsum vitae cursus. Morbi in elit id eros pellentesque rutrum. Orci varius natoque penatibus et magnis dis parturient montes.