section.section.section--light-bliberry#about
    h3.section-header.section-header--special O firmie
    hr.fancy-line
    div.section-content(data-aos="fade" data-aos-duration="1500")
        div.section-part
            i.section-part__icon.fas.fa-award
            h4.section-part__header Jakość towarów
            div.section-part__text Jesteśmy rodzinną firmą oraz gospodarstwem rolniczym zajmującym się produkcją oraz handlem wysokiej jakości owoców.
        div.section-part
            i.section-part__icon.fas.fa-place-of-worship
            h4.section-part__header Wieloletnie doświaczenie
            div.section-part__text Dzięki swojej wieloletniej obecności na rynku, cieszymy się coraz większym zaufaniem kontrahentów.
        div.section-part.section-part--wider
            i.section-part__icon.fas.fa-crown
            h4.section-part__header Profesjonalizm
            div.section-part__text Zawsze dbamy o najwyższą jakość naszych usług, które dostosowujemy do potrzeb naszych klientów.