section.certifications#certs
    div.cert__wrapper
        h2.section-header Nasze certyfikaty
            hr.fancy-line
            div.certs
                div.cert.flex-center(data-aos="slide-up")
                    a.cert__img-wrapper(href="#")
                        img.cert__img(src="./images/smaller/cert_brc.jpg" alt="Certyfikat")
                div.cert.flex-center(data-aos="slide-up")
                    a.cert__img-wrapper(href="#")
                        img.cert__img(src="./images/smaller/cert_globalgap.jpg" alt="Certyfikat")
                div.cert.flex-center(data-aos="slide-up")
                    a.cert__img-wrapper(href="#")
                        img.cert__img(src="./images/smaller/cert_graspiko.jpg" alt="Certyfikat")
                div.cert.flex-center(data-aos="slide-up")
                    a.cert__img-wrapper(href="#")
                        img.cert__img(src="./images/smaller/cert_jg.jpg" alt="Certyfikat")