section.certifications
    h2.section-header Certyfikaty
    div.certs
        div.cert.flex-center
            a.cert__img-wrapper(href="#")
                img.cert__img(src="./images/certs/brc.jpg" alt="Certyfikat")
        div.cert.flex-center
            a.cert__img-wrapper(href="#")
                img.cert__img(src="./images/certs/globalgap.jpg" alt="Certyfikat")
        div.cert.flex-center
            a.cert__img-wrapper(href="#")
                img.cert__img(src="./images/certs/graspiko.jpg" alt="Certyfikat")
        div.cert.flex-center
            a.cert__img-wrapper(href="#")
                img.cert__img(src="./images/certs/jg.jpg" alt="Certyfikat")