section.contact#contact
    h2.section-header Kontakt
    div.contact-details
        a(href="#").cafle(data-aos="fade-right")
            h4.cafle__title Email
            p.cafle__value.smaller mojmail@mojastrona.pl
        a(href="tel: 794124775").cafle(data-aos="fade-left")
            h4.cafle__title Telefon
            p.cafle__value 794124775
        a(href="tel: 794124775").cafle(data-aos="fade-down")
            h4.cafle__title Adres
            p.cafle__value.special ul. Wolanowska,
                br
                span Radzyń 22-400