section.contact
    h2.section-header Kontakt
    h4.section-subheader Grupa Producentów Owoców Rajpol Sp. z o.o.
    div.contact-details
        div.cafle
            h4.cafle__title Email
            p.cafle__value.smaller mojmail@mojastrona.pl
        a(href="tel: 794124775").cafle
            h4.cafle__title Telefon
            p.cafle__value 794124775
        a(href="tel: 794124775").cafle
            h4.cafle__title Adres
            p.cafle__value.special ul. Wolanowska,
                br
                span Radzyń 22-400