section.contact#contact
    h2.section-header Kontakt
    div.contact-details
        a.cafle(href="mailto: kontakt@macfruit.pl" data-aos="fade-right")
            h4.cafle__title Email
            p.cafle__value.smaller kontakt@macfruit.pl
        div.cafle.larger(data-aos="fade-left")
            h4.cafle__title Telefon
            div.cafle__value
                a.country-number(href="tel: 601149475")
                    div.flag.poland
                    span.number 601 149 475
                a.country-number(href="tel: 789438054")
                    div.flag.poland
                    span.number 789 438 054
                a.country-number(href="tel: 695150188")
                    div.flag.uk
                    span.number 695 150 188
        a.cafle(data-aos="fade-down")
            h4.cafle__title Adres
            p.cafle__value.special Pierzchnia 32,
                br
                span 26-806 Stara Błotnica