section.contact#contact
    h2.section-header Kontakt
    div.contact-details
        a.cafle(href="mailto: kontakt@macfruit.pl" data-aos="fade-right")
            h4.cafle__title Email
            p.cafle__value.smaller kontakt@macfruit.pl
        a.cafle(href="tel: 601149475" data-aos="fade-left")
            h4.cafle__title Telefon
            p.cafle__value 601 149 475
                br
                | 789 438 054
        a.cafle(href="tel: 601149475" data-aos="fade-down")
            h4.cafle__title Adres
            p.cafle__value.special Pierzchnia 32,
                br
                span 26-806, Stara Błotnica