div.desktop-menu
    ul.desktop-ul
        li.desktop-li
            a.desktop-link.hvr-underline-from-center(href="#home") Home
        li.desktop-li
            a.desktop-link.hvr-underline-from-center(href="#about") O firmie
        li.desktop-li
            a.desktop-link.hvr-underline-from-center(href="#offer") Oferta
        li.desktop-li
            a.desktop-link.hvr-underline-from-center(href="#certs") Certyfikaty
        li.desktop-li
            a.desktop-link.hvr-underline-from-center(href="#contact") Kontakt