div.desktop-menu
    ul.desktop-ul
        li.desktop-li
            a.desktop-link(href="#") Home
        li.desktop-li
            a.desktop-link(href="#") O firmie
        li.desktop-li
            a.desktop-link(href="#") Oferta
        li.desktop-li
            a.desktop-link(href="#") Certyfikaty
        li.desktop-li
            a.desktop-link(href="#") Kontakt