div.header-wrapper#home
  div.header
    include logo.pug
    div
      include desktop-menu
      //include langPicker.pug
      include responsive-menu
    div.no-width
  div.header-caption__wrapper.flex-center
    include header-caption