div.header-caption
    h2.header-caption__big Owoce
    h4.header-caption__small Ocena 9/10 według Europejskiej Agencji Jakości Żywności
    div.button-wrapper
        a.btn.btn-secondary.my-10 Oferta
        a.btn.btn-primary.my-10 Kontakt