div.header-caption
    div.header-caption__wrapper
        img.header-caption__logo(src="./images/temp-logo.svg")
        h2.header-caption__big Mojafirma
    div.button-wrapper.flex-center
        a.btn.btn-secondary.my-10(href="#offer") Oferta
        a.btn.btn-primary.my-10.hvr-ripple-out(href="#contact") Kontakt