section.offer#offer
    h2.section-header.black Oferta
    hr.fancy-line
    div.fruits
        div.fruit(data-aos="fade-up-right")
            img.fruit__image(src='./images/fruits/bliberry.jpg' alt="Borówki")
            div.fruit__name Borówki
        div.fruit(data-aos="fade-up-right")
            img.fruit__image(src='./images/fruits/strawberry.jpg' alt="Truskawki")
            div.fruit__name Truskawki
        div.fruit(data-aos="fade-up-right")
            img.fruit__image(src='./images/fruits/cherry.jpg' alt="Czereśnie")
            div.fruit__name Czereśnie
        div.fruit(data-aos="fade-up-left")
            img.fruit__image(src='./images/fruits/plum.jpg' alt="Jabłka")
            div.fruit__name Śliwki
        div.fruit(data-aos="fade-up-left")
            img.fruit__image(src='./images/fruits/apple.jpg' alt="Jabłka")
            div.fruit__name Jabłka
        div.fruit(data-aos="fade-up-left")
            img.fruit__image(src='./images/fruits/raspberry.jpg' alt="Jabłka")
            div.fruit__name Maliny