section.offer
    h2.section-header.black Oferta
    p.section-subheader Możesz zamówić u nas poniżej wymienione produkty.
    hr.fancy-line
    div.fruits
        div.fruit
            img.fruit__image(src='./images/bb.jpg' alt="Jabłka")
            div.fruit__name Borówki
        div.fruit
            img.fruit__image(src='./images/fruits/strawberries.jpg' alt="Jabłka")
            div.fruit__name Truskawki
        div.fruit
            img.fruit__image(src='./images/fruits/cherries.jpg' alt="Jabłka")
            div.fruit__name Czereśnie
        div.fruit
            img.fruit__image(src='./images/fruits/plums.jpg' alt="Jabłka")
            div.fruit__name Śliwki
        div.fruit
            img.fruit__image(src='./images/fruits/apples.jpg' alt="Jabłka")
            div.fruit__name Jabłka
        div.fruit
            img.fruit__image(src='./images/fruits/raspberries.jpg' alt="Jabłka")
            div.fruit__name Maliny