section.offer#offer
    h2.section-header.black Oferta
    div.fruits
        div.fruit(data-aos="fade-up-right")
            img.fruit__image(src='./images/smaller/fruit_blueberry.jpg' alt="Borówki")
            div.fruit__name Borówki
        div.fruit(data-aos="fade-up-right")
            img.fruit__image(src='./images/smaller/fruit_strawberry.jpg' alt="Truskawki")
            div.fruit__name Truskawki
        div.fruit(data-aos="fade-up-right")
            img.fruit__image(src='./images/smaller/fruit_cherry.jpg' alt="Czereśnie")
            div.fruit__name Czereśnie
        div.fruit(data-aos="fade-up-left")
            img.fruit__image(src='./images/smaller/fruit_plum.jpg' alt="Jabłka")
            div.fruit__name Śliwki
        div.fruit(data-aos="fade-up-left")
            img.fruit__image(src='./images/smaller/fruit_apple.jpg' alt="Jabłka")
            div.fruit__name Jabłka
        div.fruit(data-aos="fade-up-left")
            img.fruit__image(src='./images/smaller/fruit_raspberry.jpg' alt="Jabłka")
            div.fruit__name Maliny