section.offer#offer
    h2.section-header.black Oferta
    hr.fancy-line
    div.fruits
        article.fruit(data-aos="fade-up-right")
            div.fruit__cover
                img.fruit__image(src='./images/fruits/bliberry.jpg' alt="Borówki")
                div.fruit__name Borówki
            div.fruit__description
                div.fruit-header__wrapper
                    h2.fruit-desc__header Borówka
                p.fruit-desc__content.smaller Znajdziecie u nas owoce Borówki Amerykańskiej, odmiany; Bluecropp, Chandler, Duke, Nelson, Toro i wiele innych. Naszą ofertę dopasujemy do potrzeb klienta.
                div.cta-wrapper
                    a.btn.btn-primary.hvr-ripple-out.btn-square.absolute-cta(href="#contact")
                        i.fas.fa-phone
        article.fruit(data-aos="fade-up-right")
            div.fruit__cover
                img.fruit__image(src='./images/fruits/strawberry.jpg' alt="Truskawki")
                div.fruit__name Truskawki
            div.fruit__description
                div.fruit-header__wrapper
                    h2.fruit-desc__header Truskawka
                p.fruit-desc__content Nasza firma dysponuje wieloma odmianami truskawek. Ofertę dopasujemy do potrzeb klienta.
                div.cta-wrapper
                    a.btn.btn-primary.hvr-ripple-out.btn-square.absolute-cta(href="#contact")
                        i.fas.fa-phone
        article.fruit(data-aos="fade-up-right")
            div.fruit__cover
                img.fruit__image(src='./images/fruits/cherry.jpg' alt="Czereśnie")
                div.fruit__name Czereśnie
            div.fruit__description
                div.fruit-header__wrapper
                    h2.fruit-desc__header Czereśnia
                p.fruit-desc__content Nasza firma dysponuje wieloma odmianami czereśni. Ofertę dopasujemy do potrzeb klienta.
                div.cta-wrapper
                    a.btn.btn-primary.hvr-ripple-out.btn-square.absolute-cta(href="#contact")
                        i.fas.fa-phone
        article.fruit(data-aos="fade-up-left")
            div.fruit__cover
                img.fruit__image(src='./images/fruits/plum.jpg' alt="Śliwki")
                div.fruit__name Śliwki
            div.fruit__description
                div.fruit-header__wrapper
                    h2.fruit-desc__header Śliwka
                p.fruit-desc__content Nasza firma dysponuje wieloma odmianami śliwek. Ofertę dopasujemy do potrzeb klienta.
                div.cta-wrapper
                    a.btn.btn-primary.hvr-ripple-out.btn-square.absolute-cta(href="#contact")
                        i.fas.fa-phone
        article.fruit(data-aos="fade-up-left")
            div.fruit__cover
                img.fruit__image(src='./images/fruits/apple.jpg' alt="Jabłka")
                div.fruit__name Jabłka
            div.fruit__description
                div.fruit-header__wrapper
                    h2.fruit-desc__header Jabłko
                p.fruit-desc__content Nasza firma dysponuje wieloma odmianami jabłek. Ofertę dopasujemy do potrzeb klienta.
                div.cta-wrapper
                    a.btn.btn-primary.hvr-ripple-out.btn-square.absolute-cta(href="#contact")
                        i.fas.fa-phone
        article.fruit(data-aos="fade-up-left")
            div.fruit__cover
                img.fruit__image(src='./images/fruits/raspberry.jpg' alt="Maliny")
                div.fruit__name Maliny
            div.fruit__description
                div.fruit-header__wrapper
                    h2.fruit-desc__header Malina
                p.fruit-desc__content Nasza firma dysponuje wieloma odmianami malin. Ofertę dopasujemy do potrzeb klienta.
                div.cta-wrapper
                    a.btn.btn-primary.hvr-ripple-out.btn-square.absolute-cta(href="#contact")
                        i.fas.fa-phone