nav#responsiveMenu
    i.fas.fa-bars.hamburger(@click="visible = true")
    div.mobile-nav(v-bind:class="{visible: visible}")
        div.fas.fa-times.modal-close.modal-close--menu(@click="visible = false")
        ul.mobile-ul
            li.mobile-li
                a.mobile-link(href="#home" @click="visible = false") Home
            li.mobile-li
                a.mobile-link(href="#about" @click="visible = false") O firmie
            li.mobile-li
                a.mobile-link(href="#offer" @click="visible = false") Oferta
            li.mobile-li
                a.mobile-link(href="#certs" @click="visible = false") Certyfikaty
            li.mobile-li
                a.mobile-link(href="#contact" @click="visible = false") Kontakt